# Ignore virtual environment and cache files
.venv/
__pycache__/

# Ignore log files
*.log

# Ignore build artifacts
dist/

# Ignore testmod directory
testmod/
work/

# Ignore config file containing API key
config.json
.env